{% if post.author_key %}
  {% assign author_key = post.author_key %}
{% elsif page.author_key %}
  {% assign author_key = page.author_key %}
{% elsif site.author_key %}
  {% assign author_key = site.author_key %}
{% endif %}

{% if author_key %}
  {% assign author = site.authors[author_key].name %}
  <span class="byline author vcard"><span class="fn">
    {% if site.authors[author_key].url %}
      <a href="{{ site.authors[author_key].url }}">{{ author }}</a>
    {% else %}
      {{ author }}
    {% endif %}
  </span></span>
{% endif %}
