<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories/tdd-screencasts/">Screencasts</a></li>
  <li><a href="{{ root_url }}/blog/categories/build-your-own-testing-framework/">Build Testing Framework</a></li>
  <li><a href="{{ root_url }}/blog/categories/getting-stuck-while-doing-tdd/">Getting Stuck in TDD</a></li>
  <li><a href="{{ root_url }}/about-me">About me</a></li>
</ul>
