// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg $page-bg-image;
}

table {
  tr {
    td + td, th + th {
      padding-left: 10px;
    }
  }
}

.img-small {
  width: 256px;
  height: 256px;
}

.img-left {
  float: left;
  margin-right: 30px;
}

.img-rounded {
  border: 0;
  border-radius: 15px;
}

.terminator {
  display: table;
}

.side-shadow-border, aside.sidebar section h1, aside.sidebar li {
  box-shadow: 0px 1px $sidebar-shadow-color;
}

aside.sidebar {
  text-shadow: 0px 1px $sidebar-shadow-color;
  border-top: 1px solid $sidebar-shadow-color;
}

article header p.meta {
  position: relative;
}

article header {
  padding-top: 0;
}

.mc_embed_signup{
  clear:left;
}

.mc_embed_signup h2{
  text-align: center;
}

.mc_embed_signup .mce-EMAIL{
  width: 40%;
  margin: 0;
  padding: 0;
  margin-left: 20%;
  display: inline;
  height: 35px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-appearance: none;
}

.mc_embed_signup .mce-EMAIL:focus {
  border-color: #80d080;
  outline: none;
}

.mc_embed_signup .button{
  background-color: rgb(0, 160, 0);
}

.mc_embed_signup .button:hover{
  background-color: rgb(0, 128, 0);
}

.mc_embed_signup .mc-embedded-subscribe{
  width: 20%;
  padding: 0;
  height: 35px;
  display: inline;
  color: #f9f9f9;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  font-size: 1em;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .mc_embed_signup .mce-EMAIL{
    width: 55%;
    margin-left: 0;
  }

  .mc_embed_signup .mc-embedded-subscribe{
    width: 35%;
  }
}

.mc_embed_signup .seats-are-limited {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.expanded-author-card {
  margin-bottom: 50px;

  .author-photo {
    border: none;
    width: 64px;
    float: left;
    margin-right: 20px;
  }

  .author-bio {

  }
}

/* v2 design (introducing sidebar on the left) */

.v2-content {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  padding-left: 0;
  padding-right: 0;

  @media only screen and (min-width: 768px) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media only screen and (min-width: 992px) {
    padding-left: 55px;
    padding-right: 55px;
  }

  .v2-sidebar {
    flex: 1;
    min-width: 0;
    padding-top: 2em;

    a {
      white-space: pre-wrap;
      word-wrap: break-word;
      color: inherit;
      font-size: 0.9em;

      &:hover {
        color: #0181eb;
      }
    }

    li {
      list-style: none;
      padding: .5em 0;
    }

    .mc_embed_signup .mce-EMAIL {
      display: block;
      width: 100%;
      margin: 0;
    }

    .mc_embed_signup .mc-embedded-subscribe {
      display: block;
      width: 70%;
      margin: 0.5em auto 0 auto;
    }
  }

  .v2-blog-index, .v2-blog-post {
    flex: 4;
    min-width: 0;
  }
}

.v2-sidebar--non-mobile .v2-sidebar__subscribe-form {
  margin-bottom: 2.5em;
}

.v2-sidebar--mobile--top {
  .v2-sidebar__item--mobile--bottom-only {
    display: none;
  }
}

.v2-sidebar--mobile--bottom {
  .v2-sidebar__item--mobile--top-only {
    display: none;
  }
}

.v2-sidebar--mobile {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.v2-sidebar--non-mobile {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.v2-subscribe--inline {
  margin-bottom: 1em;
  border: solid 1px lightgray;
  padding: 0.5em;

  h3, em {
    text-align: center;
    display: block;
  }
}

.v2-header {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: $v2-header-bg;
  color: $v2-header-color;
  padding: 0.7em;

  a, a:visited, a:hover {
    color: $v2-header-color;
  }

  h1 {
    font-size: 1em;
    font-weight: 900;
  }
}

.v2-header__navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  max-width: 20em;

  li {
    flex: 2;
  }

  .v2-header__navigation__logo {
    flex: 3;
  }

  a {
    text-decoration: none;
  }
}

.next-table-layout-is-fixed + table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 1.5em;

  th, td {
    vertical-align: text-top;
  }
}
