// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg $page-bg-image;
}

table {
  tr {
    td + td, th + th {
      padding-left: 10px;
    }
  }
}

.img-small {
  width: 256px;
  height: 256px;
}

.img-left {
  float: left;
  margin-right: 30px;
}

.img-rounded {
  border: 0;
  border-radius: 15px;
}

.terminator {
  display: table;
}

.side-shadow-border, aside.sidebar section h1, aside.sidebar li {
  box-shadow: 0px 1px $sidebar-shadow-color;
}

aside.sidebar {
  text-shadow: 0px 1px $sidebar-shadow-color;
  border-top: 1px solid $sidebar-shadow-color;
}

article header p.meta {
  position: relative;
}

article header {
  padding-top: 0;
}
