// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg $page-bg-image;
}

table {
  tr {
    td + td, th + th {
      padding-left: 10px;
    }
  }
}

.img-small {
  width: 256px;
  height: 256px;
}

.img-left {
  float: left;
  margin-right: 30px;
}

.img-rounded {
  border: 0;
  border-radius: 15px;
}

.terminator {
  display: table;
}

.side-shadow-border, aside.sidebar section h1, aside.sidebar li {
  box-shadow: 0px 1px $sidebar-shadow-color;
}

aside.sidebar {
  text-shadow: 0px 1px $sidebar-shadow-color;
  border-top: 1px solid $sidebar-shadow-color;
}

article header p.meta {
  position: relative;
}

article header {
  padding-top: 0;
}

#mc_embed_signup{
  clear:left;
}

#mc_embed_signup h2{
  text-align: center;
}

#mc_embed_signup #mce-EMAIL{
  width: 40%;
  margin: 0;
  padding: 0;
  margin-left: 20%;
  display: inline;
  height: 35px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-appearance: none;
}

#mc_embed_signup #mce-EMAIL:focus {
  border-color: #80d080;
  outline: none;
}

#mc_embed_signup .button{
  background-color: rgb(0, 160, 0);
}

#mc_embed_signup .button:hover{
  background-color: rgb(0, 128, 0);
}

#mc_embed_signup #mc-embedded-subscribe{
  width: 20%;
  padding: 0;
  height: 35px;
  display: inline;
  color: #f9f9f9;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  font-size: 1em;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
}

@media (max-width: 900px) {
  #mc_embed_signup #mce-EMAIL{
    width: 55%;
    margin-left: 0;
  }

  #mc_embed_signup #mc-embedded-subscribe{
    width: 35%;
  }
}

#mc_embed_signup .seats-are-limited {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.expanded-author-card {
  margin-bottom: 50px;

  .author-photo {
    border: none;
    width: 64px;
    float: left;
    margin-right: 20px;
  }

  .author-bio {

  }
}
